body {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  overflow: hidden; }

.header {
  height: 0.44rem;
  background: #2ca2f9;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  line-height: 0.44rem; }
  .header a {
    color: #fff; }
  .header span {
    display: inline-block;
    height: 100%; }
    .header span a {
      display: inline-block;
      height: 0.2rem;
      width: 0.8rem;
      border: 1px solid #fff;
      border-radius: 5px;
      text-align: center;
      line-height: 0.2rem;
      margin-left: 0.1rem; }
    .header span em {
      font-size: 18px;
      font-weight: bold; }
    .header span img {
      height: 100%;
      float: left; }

.nav {
  height: 0.43rem;
  line-height: 0.43rem;
  border-bottom: 1px solid #ccc; }
  .nav ul {
    display: flex; }
    .nav ul li {
      flex: 1;
      text-align: center;
      height: 0.43rem;
      box-sizing: border-box; }
      .nav ul li a {
        display: inline-block;
        width: 100%;
        height: 100%; }

.mark {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none; }
  .mark .box {
    position: absolute;
    left: 50%;
    margin-left: -142px;
    top: 50%;
    margin-top: -60px;
    width: 284px;
    height: 120px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
    text-align: center; }
    .mark .box h2 {
      height: 0.7rem;
      line-height: 0.7rem;
      border-bottom: 1px solid #ccc; }
    .mark .box p {
      display: flex;
      height: 0.5rem;
      line-height: 0.5rem; }
      .mark .box p span {
        flex: 1;
        height: 100%; }
        .mark .box p span:first-child {
          border-right: 1px solid #ccc; }

.ma {
  display: block; }

.banner img {
  width: 100%; }

.cont {
  flex: 1;
  overflow-y: auto; }

.swiper-pagination-bullet {
  background: #fff; }

.newsong-list {
  padding-left: 0.1rem;
  padding-right: 0.1rem;
  box-sizing: border-box;
  height: 0.44rem;
  line-height: 0.44rem; }
  .newsong-list li {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc; }

.order-cont dl,
.list-cont dl {
  padding: 0.1rem;
  display: flex;
  border-bottom: 1px solid #ccc; }
  .order-cont dl dt,
  .list-cont dl dt {
    width: 0.8rem; }
    .order-cont dl dt img,
    .list-cont dl dt img {
      width: 100%; }
  .order-cont dl dd,
  .list-cont dl dd {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: 0.1rem;
    font-size: 12px;
    padding-top: 0.3rem; }
    .order-cont dl dd h4,
    .list-cont dl dd h4 {
      color: #666; }
    .order-cont dl dd p,
    .list-cont dl dd p {
      color: #ccc; }

.singer-cont {
  padding-left: 0.1rem;
  padding-right: 0.1rem; }
  .singer-cont ul {
    border: 1px solid #ccc;
    margin-top: 0.1rem;
    border-radius: 8px;
    background: #fbfbfb; }
    .singer-cont ul li {
      display: flex;
      justify-content: space-between;
      height: 0.44rem;
      line-height: 0.44rem;
      padding-left: 0.1rem;
      padding-right: 0.1rem;
      border-bottom: 1px solid #ccc; }
      .singer-cont ul li:last-child {
        border: none; }

.on {
  border-bottom: 2px solid #007aff; }

/*# sourceMappingURL=style.css.map */
